@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply text-primaryColor bg-secondaryColor;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.animatedImage{
  max-height: 500px;
  position: relative;
  animation: shimmy 3s infinite; 
  @apply mt-16 md:mt-[-100px];
}

.animatedMinerals{
  max-height: 500px;
  position: relative;
  animation: shimmy 3s infinite; 
}
@keyframes shimmy {
  0% {
    transform: translateY(0px);    
  }
  50% {
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}